# ======================
#python
# ======================
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/

# ======================
#environment variables
# ======================
.env
.env.*

# ======================
#node
# ======================
node_modules/
dist/
dist-ssr/

# ======================
#logs
# ======================
logs/
*.log

# ======================
#ide
# ======================
.vscode/
.idea/

# ======================
#os
# ======================
.DS_Store
Thumbs.db